<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.apparel.My_Account</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>close_account</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>returns_history</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>password</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>orderhistory</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>consent_management</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>all_links_in_MyAccount</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>support_tickets</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PersonalDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>savedcarts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EmailAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
