<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8385ad">  <td>19/10/23 14:00:57</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;My_Account.afterTest()[pri:0, instance:com.apparel.My_Account@3943a2be]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="8385ad">  <td>19/10/23 14:00:04</td>   <td>-52957</td> <td>&nbsp;</td><td title="&gt;&gt;My_Account.beforeTest()[pri:0, instance:com.apparel.My_Account@3943a2be]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@243194708</td>   <td></td> </tr>
<tr bgcolor="8385ad">  <td>19/10/23 14:00:57</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="My_Account.returns_history()[pri:9, instance:com.apparel.My_Account@3943a2be]">returns_history</td> 
  <td>main@243194708</td>   <td></td> </tr>
<tr bgcolor="8385ad">  <td>19/10/23 14:00:57</td>   <td>-10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="My_Account.support_tickets()[pri:8, instance:com.apparel.My_Account@3943a2be]">support_tickets</td> 
  <td>main@243194708</td>   <td></td> </tr>
</table>
