<h2>Methods that were not run</h2><table>
<tr><td>com.apparel.My_Account.consent_management<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify_ConsentManagement</i></td></tr>
<tr><td>com.apparel.My_Account.EmailAddress<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify_EmailAddress</i></td></tr>
<tr><td>com.apparel.My_Account.savedcarts<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify_SavedCarts</i></td></tr>
<tr><td>com.apparel.My_Account.password<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify_Password</i></td></tr>
<tr><td>com.apparel.My_Account.PersonalDetails<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify_PersonalDetails</i></td></tr>
<tr><td>com.apparel.My_Account.orderhistory<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify_OrderHistory</i></td></tr>
<tr><td>com.apparel.My_Account.close_account<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify_CloseAccount</i></td></tr>
<tr><td>com.apparel.My_Account.all_links_in_MyAccount<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify_AllLinks_in_MyAccount</i></td></tr>
</table>